.add_customer.selected{
    display: block;
}

.find_customer.selected{
    display: block;
}

.add_customer{
    display: none;
}

.find_customer{
    display: none;
}

.customer_response{
    display: none;
}

.customer_response.selected{
    display: block;
}

#response{
    display: block;
}

