<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <link href="static/main.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
        <title>Customer Database</title>
    </head>
    <body>
    <header>
        <a class="add_customerLink" data-id="add_customer" href="">add customer</a> | <a class="find_customerLink" data-id="find_customer" href="">find customer</a>
    </header>
        <div id="customer_form"> 
            <div class="add_customer selected">      
            <h2>Add Customer</h2>
            <form autocomplete="off" id="add_form" data-id="customer_response" data-name="add-form">
            <label for="first_name">First Name: </label><br>
            <input type="text", id="first_name" required><br>
            <label for="last_name">Last Name: </label><br>
            <input type="text", id="last_name" required><br>
            <label for="phone">Phone Number: </label><br>
            <input type="tel", maxlength="13", id="phone" required><br>
            <label for="email">Email: </label><br>
            <input type="email", id="email" required><br>
            <button type="submit" id="submit">Submit</button>
            </form>
            </div>
            
            <div class="find_customer">
            <h2>Find Customer</h2>
            <form autocomplete="off" id="customer_search_form" data-id="customer_response" data-name="search-form">
            <label for="last_name">Last Name: </label><br>
            <input type="text", id="search_last_name" required><br><br>
            <button type="submit" id="submit">Submit</button>
            </form>
            </div>
        </div>

        <div class="customer_response">
            <p id="response"></p>       
        </div>
        

    <script src="static/index.js"></script>    
        
    </body>
</html>